body {
    text-align: center;
}
/* https://www.w3schools.com/howto/howto_css_modals.asp*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
}
/* Modal Content/Box */
.modal-content {
    background-color: #8A2BE2;
    margin-right: 10px;
    padding: 90px;
    width: 90%; /* Could be more or less, depending on screen size */
    top: 50%;
    left: 50%;
    padding:20px;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
